*{
    margin:0;
}

body{
    font-family:arial;
}

a{
    text-decoration:none;
    color:white;
}

p{
    line-height: 1.5;
}
img{
    max-width: 100%;
}
li {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center;    /* center them horizontally */
}
/*Utilities*/
.container{
    width: 85%;
    margin: 20px auto;
}
.btn{
    display: block;
    width: 100%;
    background-color: orange;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*header*/
header{
    background-image: url(./img/header.jpg);
    height:400px;
    background-size: cover;
    color: white;
    text-align:center;
}

.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*main*/

.about-container{
    display: flex;
    justify-content: center;
}
.houses-container{
    display: flex;           /* lays items horizontally */
    justify-content: center;  /* optional: aligns items to the left */
    gap: 10px;               /* adds space between the li items */
    padding: 10px;
    margin: 0;
    align-items: center; 
}
.houses-container li {
    display: flex;
    align-items: center;
    gap: 5px; /* space between icon and number */
}
.house-item{
    background-color:#dedede;
}
.house-item-text{
    padding: 20px;
}